<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myBean" class="com.example.Learn.Spring.Beans.MyBean">
        <property name="msg" value="This is first Bean"/>
    </bean>

    <bean id="specs" class="com.example.Learn.Spring.ConstructorInjection.Specification">
        <property name="brand" value="XUV700"/>
        <property name="model" value="700"/>
    </bean>
    <bean id="cars" class="com.example.Learn.Spring.ConstructorInjection.Car">
        <constructor-arg ref="specs"/>
    </bean>


</beans>